
{#{% do assets.addJs('jquery') %}#}
{% do assets.addJs('theme://libraries/jquery/jquery-3.x.min.js', {group:'bottom'}) %}
{% do assets.addJs('theme://libraries/bootstrap_addons/popper.min.js', {group:'bottom'}) %}
{% do assets.addJs('theme://libraries/bootstrap/js/bootstrap.min.js', {group:'bottom'}) %}
{% do assets.addJs('theme://libraries/slick/slick/slick.js', {group:'bottom'}) %}
 {% do assets.addJs('theme://libraries/jqueryvalidation/jquery.validate.min.js', {group:'bottom'}) %} 
{% do assets.addJs('theme://libraries/pure-media/dist/js/pure-media.js', {group:'bottom'}) %}
{% do assets.addJs('theme://libraries/lazysizes/lazysizes.min.js', {group:'bottom'}) %}
 {% do assets.addJs('theme://libraries/jquery-match-height/jquery.matchHeight.js', {group:'bottom'}) %} 
{% do assets.addJs('theme://js/script.js', {group:'bottom'}) %}