{% do assets.addCss('theme://libraries/bootstrap/css/bootstrap.min.css') %}
{% do assets.addCss('theme://libraries/font-awesome/css/font-awesome.css') %}
{% do assets.addCss('theme://libraries/pure-media/dist/css/pure-media.min.css') %}
{% do assets.addCss('theme://libraries/slick/slick/slick.css' ) %}
{% do assets.addCss('theme://css/style.css') %}