<p>Submission date: {{ 'now'|date('d/m/Y h:i a') }}<br />
Submission values are:</p>


{% for field in form.fields %}

    {% if (field.type != 'captcha' and field.type != 'file') %}
    <p>{{ field.label }}: {{ string(form.value(field.name)|e) }}</p>
    
    {% endif %}
{% endfor %}
