{% extends 'partials/base.html.twig' %}

{% block content %}
{#<section class="block-slider" >#}
{#        <div class="block-wrapper">#}
{#            {% for img in page.header.slider %}#}
{#            <div class="item"> #}
{#                <img width="100%" src="{{ img.cropZoom(10,10).url }}" data-lazy-srcset="{{ page.media[img.name].cropZoom(767,400).url }} 767w, {{ page.media[img.name].cropZoom(991,600).url }} 991w, {{ page.media[img.name].cropZoom(1920,700).url }} 1920w"> #}
{#            </div>#}
{#            {% endfor %} #}
{#        </div>#}
{#    </section>    #}
<section class="block-banner text-center py100">
    {#<img width="100%" src="{{ img.resize(10,10).url }}" data-lazy-srcset="{{ page.media[img.name].resize(767,400).url }} 767w, {{ page.media[img.name].resize(991,600).url }} 991w, {{ page.media[img.name].resize(1920,700).url }} 1920w"> #}
    
    {% for imagesuploaded in page.header.slider %}
        <img class="lazyload mx-auto" data-src="{{ page.media[imagesuploaded.name].url }}"> 
    {% endfor %}
</section>
{#<h1 class="page-header bgc-dark p30 py70-lg px120-lg text-center text-white fs20 fs34-lg fw700 m0">#}
{#    {{ page.header.title }}#}
{#</h1> #}

<div class="text-center mt20">
<h2 class="page-subtitle  tc-dark fs25 fw700">
    {{ site.title }} wants to hear from you
</h2>
    <div class="page-content">
        {{ page.content }}
    </div>
</div>
<div class="o-hidden px120 mt50">
    <div class="row"> 
        <div class="page-content p30 col-12 col-lg-3">  
            
            {% if page.media[header.location|first.name].url %}
                <div class="field-location">
                    <a class="btn bgc-orange text-white text-uppercase fw700 fs18 ls1 py15 px23 btn-default d-inline-block" target="_blank" href="{{ page.media[header.location|first.name].url }}">
                        <i class="fa fa-map-marker mr-1"></i> View Location
                    </a>
                </div> 
            
            {% endif %}
        </div>
        <div class="col-12 col-lg-9 p30">
            {% include "forms/form.html.twig" %} 
        </div>
    </div> 
</div>
{% endblock %}	 