{% extends 'partials/base.html.twig' %}

{% block content %}
    <h1 class="text-center">Halcyon Grav Themes</h1>

    <div class="container">
    	<div class="row">
		    {% for theme in page.header.themes %}
		    	<div class="item">
		    		{% if theme.name %}
		    		<h2 class="item__title">{{ theme.name }}</h2>
		    		{% endif %}

	    			{% if page.media[theme.image|first.name] %}
		    		<div class="item__image">
		    			<img src="{{ page.media[theme.image|first.name].cropZoom(500, 300).url() }}">
		    		</div>
		    		{% endif %}

	    			<div class="item__rm">
	    				<a href="{{ theme.url }}" target="_blank">View Theme</a>
	    			</div>
				</div>
		    {% endfor %} 
	    </div>
    </div>
{% endblock %}