{% extends 'partials/base.html.twig' %}


{% block content %}
    <h1 class="page-header bgc-dark p30 py70-lg px120-lg text-center text-white fs20 fs34-lg fw700 m0">
        <i class="fa fa-check-circle"></i> {{ page.header.title }}
    </h1> 
    
    {% if page.content %}
    <div class="page-content p30 fs16 fs18-md container">
        {{ page.content }} 
        
        <div class="page__rm mt20 d-block">
        <a class="btn bgc-dark bgh-yellow tc-white tch-dark text-uppercase fw700 fs16 ls1 py15 px23 btn-default d-inline-block button " href="/"><i class="fa fa-home"></i> Back to the homepage.</a>
        </div>
    </div>
    
    
    
    {% endif %}
{% endblock %}