<header class="header navbar-light">
    <nav class="navbar container p0 py10-xl px30-xl navbar-expand-md flex-wrap justify-content-between">
        <div class="navbar-header d-flex flex-wrap align-items-center py15 py0-lg justify-content-center justify-content-between justify-content-md-center">
            {% include 'partials/misc/logo.html.twig' %}

            <button class="navbar-toggler x collapsed" type="button" data-toggle="collapse" data-target="#mainNavbar" aria-controls="mainNavbar" aria-expanded="false" aria-label="Toggle navigation">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="nav-right">
            {% include 'partials/navigation.html.twig' %}
        </div>
    </nav>
</header>