{% set theme_config = attribute(config.themes, config.system.pages.theme) %}

{% set loadCSS = theme_var('loadCSS') ? '1' : '0' %}
{% set preloader = theme_var('preloader') ? '1' : '0' %}

{% set page_class = page_class %}


<!DOCTYPE html>
<html lang="{{ grav.language.getActive ?: theme_config.default_lang }}">
<head><meta http-equiv="Content-Type" content="text/html; charset=utf-8">
{% block head %}

    <title>{% if header.title %}{{ header.title|e('html') }} | {% endif %}{{ site.title|e('html') }}</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% include 'partials/metadata.html.twig' %}

    {% set favicon = theme_var(favicon ? 'favicon' : 'favicon') %}

    {% if favicon %}

    {% set favicon_file = (favicon|first).name %}
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url('theme://favicon/' ~ favicon_file)  }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url('theme://favicon/' ~ favicon_file)  }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url('theme://favicon/' ~ favicon_file)  }}">
    {% else %}
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url('theme://apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url('theme://favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url('theme://favicon-16x16.png') }}">
    {% endif %}
    <link rel="canonical" href="{{ page.url(true, true) }}" />

    {# PRELOADING FONTS #}
    {% include 'partials/misc/preload-fonts.html.twig' %}

    {# YOUR CRITICAL CSS HERE #}
    {% include 'partials/misc/global-critical.html.twig' %}

    {# YOUR ABOVE THE FOLD PER PAGE #}
    {% block aboveFold %}
        {{ aboveFold }}
    {% endblock %}
    {# EXECUTE CSS ASSETS HERE #}
    {% block stylesheets %}
        {% include 'partials/assets/stylesheets.html.twig' %}
    {% endblock %}
    {# LOAD CSS only works once the css_pipeline is enabled. #}
    {% if loadCSS == '1' %}
        {{ assets.css('head', {'rel':'preload', 'as':'style', 'onload':'this.rel="stylesheet"'}) }}
        <noscript>
            {{ assets.css()|raw }}
        </noscript>
    {% else %}
        {{ assets.css()|raw }}
    {% endif %}

    {# JAVASCRIPTS HERE #}
    {% block javascripts %}
        {% include 'partials/assets/javascripts.html.twig' %}
    {% endblock %}

{% endblock head%}
</head>
<body id="body" class="body is-page-loading {{ page.url == "/" ? 'front' : 'not-front'  }} {{ page_class }} {{ page.header.body_classes }} ">
{% block header %}
	{% if preloader == '1' %}
	<div class="preloader">
        <span></span>
	</div> 
	{% endif %}

    {% include 'partials/includes/header.html.twig' %}

{% endblock %}

{% block body %}
    <main id="main-content" class="main-content">
        {% block content %}{% endblock %}
    </main>
{% endblock %}

{% block footer %}
    <footer id="footer" class="footer text-center d-block text-white mt30">
        <div class="footer-credits py20 tc-grey">
            Web Design by <a class="fw700" href="http://halcyonwebdesign.com.ph" target="_blank" style="color: #00ace8;">Halcyon Web Design</a>
        </div>
    </footer>
	{% include 'partials/misc/backtop.html.twig' %}
{% endblock %}

{# EXECUTING JAVASCRIPT HERE #}
{% block bottom %}
	{% if loadCSS == '1' %}
	<script>
        !function(t){"use strict";t.loadCSS||(t.loadCSS=function(){});var e=loadCSS.relpreload={};if(e.support=function(){var e;try{e=t.document.createElement("link").relList.supports("preload")}catch(t){e=!1}return function(){return e}}(),e.bindMediaToggle=function(t){var e=t.media||"all";function a(){t.addEventListener?t.removeEventListener("load",a):t.attachEvent&&t.detachEvent("onload",a),t.setAttribute("onload",null),t.media=e}t.addEventListener?t.addEventListener("load",a):t.attachEvent&&t.attachEvent("onload",a),setTimeout(function(){t.rel="stylesheet",t.media="only x"}),setTimeout(a,3e3)},e.poly=function(){if(!e.support())for(var a=t.document.getElementsByTagName("link"),n=0;n<a.length;n++){var o=a[n];"preload"!==o.rel||"style"!==o.getAttribute("as")||o.getAttribute("data-loadcss")||(o.setAttribute("data-loadcss",!0),e.bindMediaToggle(o))}},!e.support()){e.poly();var a=t.setInterval(e.poly,500);t.addEventListener?t.addEventListener("load",function(){e.poly(),t.clearInterval(a)}):t.attachEvent&&t.attachEvent("onload",function(){e.poly(),t.clearInterval(a)})}"undefined"!=typeof exports?exports.loadCSS=loadCSS:t.loadCSS=loadCSS}("undefined"!=typeof global?global:this);
	</script>

	{% endif %}


    {{ assets.js('bottom') }}
{% endblock %}



</body>