{% macro loop(page) %}
    {% for p in page.children.visible %}
        {% set current_page = (p.active or p.activeChild) ? 'active' : '' %}
        <li class="{{ current_page }}">
            <a href="{{ p.url }}">
                {% if p.header.icon %}<i class="fa fa-{{ p.header.icon }}"></i>{% endif %}
                {{ p.menu }}
            </a>
            {% if p.children.visible.count > 0 %}
                <ul>
                    {{ _self.loop(p) }}
                </ul>
            {% endif %}
        </li>
    {% endfor %}

{% endmacro %}
 

    <div class="collapse navbar-collapse" id="mainNavbar">
        <ul class="navbar-nav w-100 d-flex justify-content-center">
            {% if theme_config.dropdown.enabled %}
                {{ _self.loop(pages) }}
            {% else %}
            {% for page in pages.children.visible %}
                {% if page.visible %}
                    {% set current_page = (page.active or page.activeChild) ? 'active' : '' %}
                        {% set ul, ulend, expanded = '', '', '' %}
                            {% for f in page.children %}
                                {% if f.visible == true %}
                                
                                 {% set ul, ulend, expanded = '<ul class="dropdown-menu w-100" style="background-color: $teal">', '</ul>', ' dropdown d-flex flex-wrap align-items-center ' %}
                                {% endif %}
                            {% endfor %}
                                {% set activeParent = (page.active or page.activeChild) ? 'active' %}
                                {% set activeChild = (page.active or page.activeChild) ? 'active-trail' %}
                                
                                <li class="nav-item {{ expanded }} {{ activeParent }}">
                                    
                                    
                                    {% if expanded == true %}
                                        <a href="#" class="d-flex align-items-center flex-wrap nav-link w-100 {{ activeChild }}"  role="button" data-toggle="dropdown">
                                            {{ page.menu }}
                                            <i class="fa fa-angle-down"></i>
                                    
                                    {% else %}
                                        <a class="d-flex align-items-center flex-wrap nav-link w-100 {{ activeChild }}" href="{{ page.url }}">
                                        {{ page.menu }}
                                    {% endif %}
                                    </a> 
                                    
                                    
                                    {% if page.children|length > 0 %}
                                        {{ ul }}
                                         
                                            {% for subpage in page.children %}
                                                {% if subpage.visible == true %}
                                                  <li class="dropdown-item">
                                                  <a class="nav-link w-100 dropdown-link {{ page.url ? '1' : '0' }} {{ active }}" href="{{ subpage.url }}">{{ subpage.title }}</a></li>
                                                {% endif %}
                                            {% endfor %}
                                        {{ ulend }}
                                    {% else %}
                                    {% for subpage in page.children %}
                                        {% if subpage.visible == true %}
                                          <li class="nav-item dropdown-item {{ activeParent }} ">
                                          <a class="dropdown-link {{ activeChild }}" href="{{ subpage.url }}">{{ subpage.title }}</a></li>
                                        {% endif %}
                                    {% endfor %}
                                    {% endif %}
                                    
                                </li>
                {% endif %}
            {% endfor %}
        {% endif %}
        </ul> 
    </div>