body {
    color: $grey;
    font-size: 18px;
    overflow-y: scroll;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
            flex-flow: column;
    min-height: 100vh;
    main.main-content {
        -webkit-box-flex: 1;-ms-flex-positive: 1;flex-grow: 1;
    }
}

a {
    color: $grey;
    &, &:hover, &:focus {
        outline: none;
        text-decoration: none;

    }
    &:hover, &:focus {
        color: #333333;
    }
}

