@mixin plusMinus($width, $lineWidth, $color) {
  box-sizing: border-box;
  transition: transform 0.3s;
  width: $width;
  height: $width;
  transform: rotate(180deg);
  position: absolute;
  right: 15px;

//   &:hover {
//     transform: rotate(0deg);
//   }
  &::before {
    content: '';
    display: block;
    width: $width;
    height:0px;
    border-bottom: solid $lineWidth $color;
    position: absolute;
    bottom:$width /2 - $lineWidth/2;
    transform: rotate(90deg); 
    transition: width 0.3s; 
  }
//   &:hover::before {
//     content: '';
//     display: block;
//     width: 0px; 
//     height:0px;
//     border-bottom: solid $lineWidth $color;
//     position: absolute;
//     bottom:$width /2 - $lineWidth/2;
//     transform: rotate(90deg);
//   } 
  &::after { 
    content: '';
    display: block;
    width: $width;
    height:0px;
    border-bottom: solid $lineWidth $color;
    position: absolute;
    bottom:$width /2 - $lineWidth/2;
  }
}