.page-listing {
    background-color: #FEFEFE; 
    .item {
        .item-wrapper {
            background: #fff;
            box-shadow: 0 15px 64px #e2e2e6;
            border-radius: 10px;
            overflow: hidden;
        }
        .item__image {
            
        }
        .item-details {
            flex-grow: 1;
            display: flex;
            flex-direction: column; 
            padding: 45px 40px 32px; 
            text-align: left;
        } 
    } 
}


.page-products { 
    .page-content {
        > .row {
            > .item {
                > .item-details {
                    padding: 30px;
                    background-color: #f5f5f5;
                    border: 1px solid #eaeaea;
                    &:empty {
                        display: none; 
                    }
                }
            } 
        }
        .p__title { 
            > a {
                display: flex;
                align-items: center;    
                padding: 15px; 
                > .item__image {
                    max-width: 30px; 
                } 
            }
        }
        
        .c__title {
            > a {
                &:not(.collapsed) {
                }   
            }
            .icon-pm { 
                width: 14px;  
                height: 14px;
                &::before, &::after {
                    border-bottom: solid 2px #515151 !important; 
                    width: 14px;  
                    bottom: 6px;
                }
            }
        }
        
    }
}


.page-careers {
    .item {
        
    }
    .item__title {
        a {
            &::after {
                content: "\f138";
                font-family: Fontawesome;
                position: absolute;
                right: 15px;
            }
        }
    }
}