// MIN

@media (min-width: $min-sm) {
    
}
@media (min-width: $min-md) {
    
}

@media (min-width: $min-lg) {
    
}
@media (min-width: $min-xl) {
    
}
 


// MAX

@media (max-width: $max-sm) {
    .g-recaptcha {
        transform: scale(.8);
        transform-origin: 0;
    }
}
@media (max-width: $max-md) {
    .container {
        max-width: 100%;
    }
}

@media (max-width: $max-lg) {
    
}
@media (max-width: $max-xl) {
    
}